<a href="https://colab.research.google.com/github/Moigi/DataCleaning/blob/main/LDModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Load the librarys
import pandas as pd #To work with dataset
import numpy as np #Math library
import seaborn as sns #Graph library that use matplot in background
import matplotlib.pyplot as plt #to plot some parameters in seaborn

df=pd.read_csv('/content/drive/MyDrive/Data/loan_data.csv')

In [ ]:
df1=df.drop(labels=['id','year','issue_d','final_d','region','emp_length_int'
,'home_ownership','home_ownership_cat','income_category','income_cat','term',
'term_cat','application_type','loan_condition_cat','grade','grade_cat','application_type_cat',
'purpose','interest_payments','total_rec_prncp'],axis=1)
df1.head()

,annual_inc,loan_amount,purpose_cat,interest_payment_cat,loan_condition,interest_rate,dti,total_pymnt,recoveries,installment
0,24000,5000,1,1,Good Loan,10.65,27.65,5861.071414,0.00,162.87
1,30000,2500,2,2,Bad Loan,15.27,1.00,1008.710000,117.08,59.83
2,12252,2400,3,2,Good Loan,15.96,8.72,3003.653644,0.00,84.33
3,49200,10000,4,2,Good Loan,13.49,20.00,12226.302210,0.00,339.31
4,80000,3000,4,1,Good Loan,12.69,17.94,3242.170000,0.00,67.79

In [52]:
df1['loan_condition'].value_counts()

Good Loan    1077845
Bad Loan      293523
Name: loan_condition, dtype: int64

In [53]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc=OrdinalEncoder()
df1['loan_condition'] = ord_enc.fit_transform(df1[['loan_condition']])
df2=df1.drop(df1.loan_condition)

In [54]:
df2.head()

,annual_inc,loan_amount,purpose_cat,interest_payment_cat,loan_condition,interest_rate,dti,total_pymnt,recoveries,installment
2,12252,2400,3,2,1.0,15.96,8.72,3003.653644,0.0,84.33
3,49200,10000,4,2,1.0,13.49,20.00,12226.302210,0.0,339.31
4,80000,3000,4,1,1.0,12.69,17.94,3242.170000,0.0,67.79
5,36000,5000,5,1,1.0,7.90,11.20,5631.377753,0.0,156.46
6,47004,7000,6,2,1.0,15.96,23.51,8136.840000,0.0,170.08

In [75]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=42)

x = df1.loc[:, df1.columns != 'loan_condition']
y = df1.loc[:, df1.columns == 'loan_condition']

x, y = ros.fit_resample(x, y)

In [77]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, 
random_state=42)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [79]:
from sklearn.metrics import accuracy_score
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(accuracy_score(y_test, y_pred)))

Accuracy of logistic regression classifier on test set: 0.70

In [80]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.74      0.61      0.67    323495
         1.0       0.67      0.79      0.72    323212

    accuracy                           0.70    646707
   macro avg       0.71      0.70      0.70    646707
weighted avg       0.71      0.70      0.70    646707