<a href="https://colab.research.google.com/github/Moigi/DataCleaning/blob/main/LDModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#Load the librarys
import pandas as pd #To work with dataset
import numpy as np #Math library
import seaborn as sns #Graph library that use matplot in background
import matplotlib.pyplot as plt #to plot some parameters in seaborn

df=pd.read_csv('/content/drive/MyDrive/Data/loan_data.csv')

In [27]:
df1=df.drop(labels=['id','year','issue_d','final_d','region','emp_length_int'
,'home_ownership','home_ownership_cat','income_category','income_cat','term',
'term_cat','application_type','loan_condition_cat','grade','grade_cat','application_type_cat',
'purpose','interest_payments','total_rec_prncp'],axis=1)
df1.head()

,annual_inc,loan_amount,purpose_cat,interest_payment_cat,loan_condition,interest_rate,dti,total_pymnt,recoveries,installment
0,24000,5000,1,1,Good Loan,10.65,27.65,5861.071414,0.00,162.87
1,30000,2500,2,2,Bad Loan,15.27,1.00,1008.710000,117.08,59.83
2,12252,2400,3,2,Good Loan,15.96,8.72,3003.653644,0.00,84.33
3,49200,10000,4,2,Good Loan,13.49,20.00,12226.302210,0.00,339.31
4,80000,3000,4,1,Good Loan,12.69,17.94,3242.170000,0.00,67.79

In [28]:
df1['loan_condition'].value_counts()

Good Loan    1077845
Bad Loan      293523
Name: loan_condition, dtype: int64

In [38]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc=OrdinalEncoder()
df1['loan_condition'] = ord_enc.fit_transform(df1[['loan_condition']])
df2=df1.drop(df1.loan_condition)

In [39]:
df2.head()

,annual_inc,loan_amount,purpose_cat,interest_payment_cat,loan_condition,interest_rate,dti,total_pymnt,recoveries,installment,loancondition
2,12252,2400,3,2,1.0,15.96,8.72,3003.653644,0.0,84.33,0
3,49200,10000,4,2,1.0,13.49,20.00,12226.302210,0.0,339.31,0
4,80000,3000,4,1,1.0,12.69,17.94,3242.170000,0.0,67.79,0
5,36000,5000,5,1,1.0,7.90,11.20,5631.377753,0.0,156.46,0
6,47004,7000,6,2,1.0,15.96,23.51,8136.840000,0.0,170.08,0